{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
      "react/jsx-one-expression-per-line": "off",
      "react/jsx-props-no-spreading": "off",
      "object-curly-newline": "off",
      "import/no-unresolved": "off",
      "max-len": "off",
      "arrow-parens": "off",
      "indent": 2,
      "react/jsx-indent": 2,
      "react/prefer-stateless-function": 0,
      "import/newline-after-import": 0,
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "react/destructuring-assignment": 0,
      "linebreak-style": "off"
  },
  "env": { "browser": true, "jest": true },
  "plugins": ["jsx-a11y"],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "src"
        ]
      }
    }
  }
}
