@coreModulePath: '../../../node_modules/';
@nav-frontend-core: '../../node_modules/';
@import '../../node_modules/nav-frontend-lenker-style/src/lenker-style.less';
@import '../../node_modules/nav-frontend-spinner-style/src/spinner-style.less';
@import '../../node_modules/nav-frontend-lenkepanel-style/src/index.less';
@import '../../node_modules/nav-frontend-lenker-style/src/lenker-style.less';
@import '../../node_modules/nav-frontend-paneler-style/src/index.less';
@import '../../node_modules/nav-frontend-typografi-style/src/index.less';
// Temp while showing events, see PB-162
@import '../../node_modules/nav-frontend-alertstriper-style/src/index.less';
@import '../../node_modules/nav-frontend-chevron-style/src/index.less';
@import '../../node_modules/nav-frontend-skjema-style/src/index.less';

@main-content-max-width: 640px;
@mobile-breakpoint: 576px;
@tablet-breakpoint: @screen-tablet;

.blokk-xxl() {
  margin-bottom: 4rem;
}

.blokk-xxl {
  .blokk-xxl();
}

.blokk-xl() {
  margin-bottom: 2.5rem;
}

.blokk-xl {
  .blokk-xl();
}

@import './components/Lenkelister.less';
@import './components/Artikkel.less';
@import './components/PersonInfo.less';
@import './components/InfoMeldinger.less';
@import './components/LenkePanelMedIkon.less';
@import 'components/DittnavLenkePanel.less';
@import './components/OversiktspanelMedListe.less';
@import './components/DinesakerSakstema.less';
// Temp while showing events, see PB-166
@import './components/Hendelser';
@import './components/Informasjon';

body {
  background: @navLysGra !important;
}

.underline {
  &::after {
    content: "";
    width: 2rem;
    height: 1px;
    left: 50%;
    bottom: 0;
    position: absolute;
    background-color: #3e3832;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.service-notification {
  text-align: center;
  border-bottom: 1px solid #b7b1a9;
  padding: 10px 0;
	.typo-element {
    display: flex;
    flex-flow: column;
		color: #c30000;
    margin: 0;
    font-size: 1.1rem;
	}
}

.header-spinner {
  width: 100%;
  margin-top: 1em;
}
