@coreModulePath: '../../node_modules/';
@import '../../node_modules/nav-frontend-lenker-style/src/lenker-style.less';
@import './font.less';
@import './components/Lenkelister.less';
@import './components/Tjenester.less';
@import './components/Artikkel.less';
@import './components/PersonInfo.less';

.underline {
  &::after {
    content: "";
    width: 2rem;
    height: 1px;
    left: 50%;
    bottom: 0;
    position: absolute;
    background-color: #3e3832;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}