.arkiverknapp {
    
    margin-right: 0.4rem;
    cursor: pointer;
    transition: color 0.1s, font-size 0.1s;

    border: none;
    background: none;

    /* 4 Body short/mini */
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    /* navBla/$navBla */
    color: #0067C5;
}
.arkiverknapp:hover {

    color: black;
    font-size: 17px;
    text-decoration: underline;
}