@import (reference) '~nav-frontend-core/less/_variabler';

// TODO:  - gjør responsivt

.dittnav-lenkepanel-top-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;

  .dittnav-lenkepanel-top-row {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    align-content: space-between;
    align-items: stretch;

    &.stor {
      flex-grow: 2;
    }
  }

  .dittnav-lenkepanel-top-col {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    justify-content: space-between;
  }

  @media (max-width: @screen-sm-min) {
    flex-direction: column;
  }

  @media (min-width: @screen-sm-min) {
    flex-direction: row;
  }
}

.dittnav-lenkepanel-top-item {
  flex: 1 1 0;

  margin-bottom: 1em;
  margin-right: 1em;

  &.last {
    margin-right: 0;
  }

  @media (max-width: @screen-sm-min) {
    margin-right: 0;
  }

  @media (min-width: @screen-sm-min) {
    margin-right: 1em;
  }
}

.sak-container {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  margin: 0.25em 0;

  .sak-lenke {
    //color: inherit;
    &:hover {
      .sak-chevron {
        left: 6px;
      }
    }
    &:not(:hover) {
      color: inherit;
    }
    &#dekorator-bottomborder-overstyring {
      border-bottom: none;
    }
  }

  .sak-innhold {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex-grow: 1;

    .sak-etikett-div {
      justify-self: flex-start;
      flex-grow: 1;
    }

    .sak-chevron-div {
      justify-self: flex-end;
      align-self: center;
    }
  }

  .sak-etikett {
    //float: right;
    padding: 1px 6px;
    margin: 0 0.5em;
  }

  .sak-chevron {
    left: 0;
    transition: left 250ms;
  }
}
