@import (reference) '~nav-frontend-core/less/_variabler';

.dittnav-lenkepanel-top-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;

  .dittnav-lenkepanel-stor {
    flex: 2 0 auto;
    box-sizing: border-box;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  .dittnav-lenkepanel-liten {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex: 1 1 auto;

    .dittnav-lenkepanel-liten-item {
      flex: 1 1 auto;
      box-sizing: border-box;
      margin-right: 1em;
      margin-bottom: 1em;
      width: 100%;

      .lenkepanel__heading {
        padding: 0.5em;
      }
    }

    .last {
      margin-right: 0;
    }

    &#cols-layout {
      flex-direction: column;
      margin-right: 0;
    }
  }

  @media (max-width: @screen-sm-min) {
    flex-direction: column;
    .dittnav-lenkepanel-stor {
      margin-right: 0;
    }
    .dittnav-lenkepanel-liten {
      flex-direction: column;
    }
  }
}

.sak-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  margin-top: 0.5em;

  .sak-lenke {
    &:hover {
      .sak-temanavn {
        text-decoration: underline;
      }

      .sak-chevron {
        left: 6px;
      }
    }
    &:not(:hover) {
      color: inherit;
    }
  }

  .sak-temanavn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
  }

  .sak-chevron {
    align-self: center;
    color: @navMorkGra;
    left: 0;
    transition: left 250ms;
  }

  .sak-status {
    text-decoration: none;
    color: @navMorkGra;
  }
}

.dekorator-lenke-overstyring() {
  border-bottom: 0;
  &:not(:hover) {
    text-decoration: none;
  }
}

#oversiktspanel__header-lenke-id, #sak-lenke-id {
  .dekorator-lenke-overstyring();
}