@import (reference) '~nav-frontend-core/less/_variabler';

.dittnav-lenkepanel-top-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;

  .dittnav-lenkepanel-stor {
    flex: 2 0 auto;
    box-sizing: border-box;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  .dittnav-lenkepanel-liten {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex: 1 1 auto;

    .dittnav-lenkepanel-liten-item {
      flex: 1 1 auto;
      box-sizing: border-box;
      margin-right: 1em;
      margin-bottom: 1em;
      width: 100%;

      .lenkepanel__heading {
        padding: 0.5em;
      }
    }

    .last {
      margin-right: 0;
    }

    &#cols-layout {
      flex-direction: column;
      margin-right: 0;
    }
  }

  @media (max-width: @screen-sm-min) {
    flex-direction: column;
    .dittnav-lenkepanel-stor {
      margin-right: 0;
    }
    .dittnav-lenkepanel-liten {
      flex-direction: column;
    }
  }
}

#oversiktspanel__header-lenke-id {
  border-bottom: 0;
  &:not(:hover) {
    text-decoration: none;
  }
}