.testpage-content {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

.infomeldinger-list__container {
  padding: 1rem 3rem;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
}

.testpage-panel {
  padding: 4rem 3rem;
  text-align: left;
  width: 100%;
  max-width: 44rem;
  margin: 0 auto;

  &__tittel-box {
    display:flex;
  }

  &__tittel {
    padding-right: 0.625rem;
    padding-bottom: 0.625rem;
  }
}

.knapper {
  display: flex;
  margin-bottom: 1.875rem;
  margin-top: 1.875rem;
  flex-flow: row wrap;
  justify-content: flex-start;

  &__send {
    margin-right: 1.875rem;
  }
}

@media screen and (max-width: 510px) {
  .knapper__hent {
    margin-top: 1.875rem;
  }
}
