.hendelser-content {
  padding-top: 70px;
  padding-bottom: 70px;
}

.hendelser {
  padding: 4rem 3rem;
  text-align: left;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 15px;

  &__tittel-box {
    display:flex;
  }

  &__tittel {
    padding-right: 10px;
    padding-bottom: 10px;
  }
}

.knapper {
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
  flex-flow: row wrap;
  justify-content: flex-start;

  &__send {
    margin-right: 30px;
    padding-right: 20px;
    padding-left: 20px;
  }

  &__hent {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.Informasjon {
  padding-top: 30px;
}

@media screen and (max-width: 510px) {
  .knapper__hent {
    margin-top: 30px;
  }
}
