.infomeldinger-list {
  border-radius: 0.25rem;
  margin-top: 2.5rem;
  margin-right: 4.375rem;
  margin-left: 4.375rem;
  .blokk-xl();

  .infoMelding {
    margin-bottom: 1rem;
    padding: 0.75rem;

    .lenkepanel__innhold {
      padding: 0;
    }
  }

  .meldekortpanel {
    margin-bottom: 1rem;
    padding: 0.75rem 0.75rem;
    display: flex;

    &__ikon {
      align-self: center;
    }

    &__tekst {
      align-self: center;
      padding-left: 1rem;
    }
  }
}

@media screen and (max-width: 700px) {
  .infomeldinger-list {
    margin-right: 0;
    margin-left: 0;
  }
}
