.ditt-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -10px;
  margin-bottom: 40px;

  &:after {
    content: "";
    width: 32%;
    margin-right: 10px;
  }
  .ditt-list-element {
    width: 32%;
    margin-right: 10px;
  }
}