@import (reference) '~nav-frontend-core/less/_variabler';
@import (reference) '~nav-frontend-paneler-style/src/mixins';

.oversiktspanel {
  .panel-mixin();

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  border-color: @navGra60 !important;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__overskrift {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__header-lenke {
    &:hover {
      text-decoration: underline;
      #oversiktspanel__chevron {
        color: initial;
        left: 6px;
      }
    }
    &:not(:hover) {
      color: inherit;
    }
    &#dekorator-bottomborder-overstyring {
      border-bottom: none;
    }
  }

  #oversiktspanel__chevron {
    left: 0;
    transition: left 250ms;
  }

  &__liste {
    display: flex;
    flex-direction: column;
  }
}