@import (reference) '~nav-frontend-core/less/_variabler';
@import (reference) '~nav-frontend-paneler-style/src/mixins';

.oversiktspanel {
  .panel-mixin();

  flex-grow: 1;
  padding: 24px;
  border-color: @navGra60;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75em;
  }

  &__overskrift {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__header-lenke {
    white-space: nowrap;
    &:hover {
      text-decoration: underline;
      #oversiktspanel__chevron {
        color: initial;
        left: 6px;
      }
    }
    &:not(:hover) {
      text-decoration: none;
    }
  }

  #oversiktspanel__chevron {
    color: initial;
    margin-left: 0.5em;
    left: 0;
    transition: left 250ms;
  }

  &__liste {
    display: flex;
    flex-direction: column;
  }
}