@import (reference) '~nav-frontend-core/less/_variabler';
@import (reference) '~nav-frontend-paneler-style/src/mixins';

.panel-med-ikon {
  margin-bottom: 16px;
  padding: 12px 12px;
  display: flex;

  &__ikon {
    align-self: center;
  }

  &__tekst {
    align-self: center;
    padding-left: 16px;
  }
}

