@import (reference) '~nav-frontend-core/less/_variabler';
@import (reference) '~nav-frontend-paneler-style/src/mixins';

.infomeldinger-list .panel-med-ikon {
  margin-bottom: 1em;
  padding: 0.75em 0.75em;
  display: flex;
  flex-direction: row;

  &__ikon {
    align-self: center;
  }

  &__tekst {
    align-self: center;
    padding-left: 1em;
  }

  &__knapp {
    align-self: center;
    margin-left: auto;
    padding-right: 0.5em;
  }
}

