.person-info {
  text-align: center;
  .arbeidssokerstatus {
    text-align: center;
    .blokk-xl();
    span::after {
      content: ' ';
    }
  }
  h1 {
    text-transform: capitalize;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
    font-size: 1.875rem;
    margin-top: 0;
    padding-top: 3.6rem;
    font-weight: 600;
    &:before {
      content: "";
      background-image: url(../images/person.svg);
      background-color: transparent;
      background-position: center top;
      background-size: 100%;
      width: 2.6rem;
      height: 2.6rem;
      display: block;
      background-position: center center;
      background-repeat: no-repeat;
      left: 50%;
      position: absolute;
      top: 0;
      border-radius: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

}