.ditt-list {
  .tjeneste-boks {
    background-color: #fff !important;
    display: block;
    color: rgb(62, 56, 50);
    text-align: center;
    border-radius: 1px;
    padding: 100px 30px 30px;
    border-bottom: none;
  }

  .din_pensjon {
    background: url(../images/din_pensjon.svg) no-repeat center 30px;
  }
  .din_pensjon:hover,
  .din_pensjon:focus,
  .din_pensjon:active {
    background: url(../images/din_pensjon-hover.svg) no-repeat center 30px;
  }

  .rediger_cv {
    background: url(../images/rediger_cv.svg) no-repeat center 30px;
  }
  .rediger_cv:hover,
  .rediger_cv:focus,
  .rediger_cv:active {
    background: url(../images/rediger_cv-hover.svg) no-repeat center 30px;
  }
  .sett_opp_onsker {
    background: url(../images/sett_opp_onsker.svg) no-repeat center 30px;
  }
  .sett_opp_onsker:hover,
  .sett_opp_onsker:focus,
  .sett_opp_onsker:active {
    background: url(../images/sett_opp_onsker-hover.svg) no-repeat center 30px;
  }
  .ledige_stillinger {
    background: url(../images/ledige_stillinger.svg) no-repeat center 30px;
  }
  .ledige_stillinger:hover,
  .ledige_stillinger:focus,
  .ledige_stillinger:active {
    background: url(../images/ledige_stillinger-hover.svg) no-repeat center 30px;
  }
  .dine_sok {
    background: url(../images/dine_sok.svg) no-repeat center 30px;
  }
  .dine_sok:hover,
  .dine_sok:focus,
  .dine_sok:active {
    background: url(../images/dine_sok-hover.svg) no-repeat center 30px;
  }
  .dine_stillinger {
    background: url(../images/dine_stillinger.svg) no-repeat center 30px;
  }
  .dine_stillinger:hover,
  .dine_stillinger:focus,
  .dine_stillinger:active {
    background: url(../images/dine_stillinger-hover.svg) no-repeat center 30px;
  }
  .jobb_blogg {
    background: url(../images/jobb_blogg.svg) no-repeat center 30px;
  }
  .jobb_blogg:hover,
  .jobb_blogg:focus,
  .jobb_blogg:active {
    background: url(../images/jobb_blogg-hover.svg) no-repeat center 30px;
  }
  .registrer_arbeidssoker {
    background: url(../images/registrer_arbeidssoker.svg) no-repeat center 30px;
  }
  .registrer_arbeidssoker:hover,
  .registrer_arbeidssoker:focus,
  .registrer_arbeidssoker:active {
    background: url(../images/registrer_arbeidssoker-hover.svg) no-repeat center 30px;
  }
  .dine_innsendinger {
    background: url(../images/dine_innsendinger.svg) no-repeat center 30px;
  }
  .dine_innsendinger:hover,
  .dine_innsendinger:focus,
  .dine_innsendinger:active {
    background: url(../images/dine_innsendinger-hover.svg) no-repeat center 30px;
  }
  .personopplysninger {
    background: url(../images/personopplysninger.svg) no-repeat center 30px;
  }
  .personopplysninger:hover,
  .personopplysninger:focus,
  .personopplysninger:active {
    background: url(../images/personopplysninger-hover.svg) no-repeat center 30px;
  }
  .utbetalinger {
    background: url(../images/utbetalinger.svg) no-repeat center 30px;
  }
  .utbetalinger:hover,
  .utbetalinger:focus,
  .utbetalinger:active {
    background: url(../images/utbetalinger-hover.svg) no-repeat center 30px;
  }
  .foreldrepengeveileder {
    background: url(../images/foreldrepengeveileder.svg) no-repeat center 30px;
  }
  .foreldrepengeveileder:hover,
  .foreldrepengeveileder:focus,
  .foreldrepengeveileder:active {
    background: url(../images/foreldrepengeveileder-hover.svg) no-repeat center 30px;
  }
  .veiledningstjenester {
    background: url(../images/veiledningstjenester.svg) no-repeat center 30px;
  }
  .veiledningstjenester:hover,
  .veiledningstjenester:focus,
  .veiledningstjenester:active {
    background: url(../images/veiledningstjenester-hover.svg) no-repeat center 30px;
  }
  .bidragsveileder {
    background: url(../images/bidragsveileder.svg) no-repeat center 30px;
  }
  .bidragsveileder:hover,
  .bidragsveileder:focus,
  .bidragsveileder:active {
    background: url(../images/bidragsveileder-hover.svg) no-repeat center 30px;
  }
  .interessetesten {
    background: url(../images/interessetesten.svg) no-repeat center 30px;
  }
  .interessetesten:hover,
  .interessetesten:focus,
  .interessetesten:active {
    background: url(../images/interessetesten-hover.svg) no-repeat center 30px;
  }
  .veivalg {
    background: url(../images/veivalg.svg) no-repeat center 30px;
  }
  .veivalg:hover,
  .veivalg:focus,
  .veivalg:active {
    background: url(../images/veivalg-hover.svg) no-repeat center 30px;
  }
  .akademia {
    background: url(../images/akademia.svg) no-repeat center 30px;
  }
  .akademia:hover,
  .akademia:focus,
  .akademia:active {
    background: url(../images/akademia-hover.svg) no-repeat center 30px;
  }
  .postkasse {
    background: url(../images/postkasse.svg) no-repeat center 20px;
    background-size: 75px 75px;
  }
  .postkasse:hover,
  .postkasse:focus,
  .postkasse:active {
    background: url(../images/postkasse-hover.svg) no-repeat center 20px;
    background-size: 75px 75px;
  }
  .din_innbox {
    background: url(../images/din_innbox.svg) no-repeat center 30px;
  }
  .din_innbox:hover,
  .din_innbox:focus,
  .din_innbox:active {
    background: url(../images/din_innbox-hover.svg) no-repeat center 30px;
  }
  .innboks {
    background: url(../images/innboks.svg) no-repeat center 30px;
  }
  .innboks:hover,
  .innboks:focus,
  .innboks:active {
    background: url(../images/innboks-hover.svg) no-repeat center 30px;
  }
  .meldinger {
    background: url(../images/meldinger.svg) no-repeat center 30px;
  }
  .meldinger:hover,
  .meldinger:focus,
  .meldinger:active {
    background: url(../images/meldinger-hover.svg) no-repeat center 30px;
  }
  .skjemaoversikt {
    background: url(../images/skjemaoversikt.svg) no-repeat center 30px;
  }
  .skjemaoversikt:hover,
  .skjemaoversikt:focus,
  .skjemaoversikt:active {
    background: url(../images/skjemaoversikt-hover.svg) no-repeat center 30px;
  }

  h2 {
    margin-top: 0;
    font-family: Modus,Arial,sans-serif;
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;

    &::after {
      content: "";
      width: 2rem;
      height: 1px;
      left: 50%;
      bottom: 0;
      position: absolute;
      background-color: #3e3832;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
}